<div class="max-w-5xl mx-auto px-4">
    <div class="flex justify-between items-center">
        <div class="site-brand">
            <a href="#" class="block py-4 px-2 bg-amber-400">
                <h2 class="text-2xl font-bold">LOGO</h2>
            </a>
        </div>
        <div class="flex items-center">
            <nav class="nav-primary">
                <ul class="main-nav">
                    <li><a href="#" class="block py-4 px-2">Products</a></li>
                    <li><a href="#" class="block py-4 px-2">Blog</a></li>
                    <li><a href="#" class="block py-4 px-2">Services</a></li>
                    <li><a href="#" class="block py-4 px-2">About</a></li>
                </ul>
            </nav>
            <div class="nav-secondary">
                <a href="#" class="block py-4 px-2">Sign in</a>
                <a href="#" class="block py-4 px-2">Sign up</a>
            </div>
        </div>
    </div>
</div>